.a {
    background-image: url("sprite.my.png");
    background-position: -0px -0px;
    background-size: 25px 50px!important;
}
.b {
    background-image: url("sprite.my.png");
    background-position: -0px -25px;
    background-size: 25px 50px!important;
}
.c {
    background-image: url("sprite.my.png");
    background-position: -0px -0px;
    background-size: 25px 50px!important;
}