.a{
  background-image: url("sprite.png");
  background-position: -0px -50px;
  background-size: 25px 75px!important;
}
.b{
  background-image:url("sprite.png");
  background-position: -0px -25px;
  background-size: 25px 75px!important;
}
.c{
background-image:url("sprite.png");
background-position: -0px -50px;
background-size: 25px 75px!important;
}
