@media (min-resolution: 2dppx) {
.a {
    background-image: url("sprite.@2x.png");
    background-position: -0px -0px;
    background-size: 25px 50px!important;
    background-size: 25px 25px;
}

.b {
    background-image: url("sprite.@2x.png");
    background-position: -0px -25px;
    background-size: 25px 50px!important;
    background-size: 25px 25px;
}
}